:root {
  --primary-Blue1: #ffffff;
  --primary-Blue2: #e6f5ff;
  --primary-Blue3: #ccebff;
  --primary-Blue4: #b3e2ff;
  --primary-Blue5: #9ad8fe;
  --primary-Blue6: #80cefe;
  --primary-Blue7: #67c4fe;
  --primary-Blue8: #4dbafe;
  --primary-Blue9: #34b1fe;
  --primary-Blue10: #1ba7fe;
  --primary-Blue11: #019dfe;
  --primary-Blue12: #018de4;
  --primary-Blue13: #017ecb;
  --primary-Blue14: #016eb2;
  --primary-Blue15: #016bac; /*GOLD*/
  --primary-Blue16: #015e98;
  --primary-Blue17: #014e7f;
  --primary-Blue18: #013f65;
  --primary-Blue19: #002f4c;
  --primary-Blue20: #001f33;
  --primary-Blue21: #001019;
  --primary-Blue22: #000000;

  --complemetar1: #ffffff;
  --complemetar2: #ffffff;
  --complemetar3: #ffffe6;
  --complemetar4: #ffffcc;
  --complemetar5: #ffffb3;
  --complemetar6: #ffff99;
  --complemetar7: #ffff80;
  --complemetar8: #ffff66;
  --complemetar9: #ffff4d;
  --complemetar10: #ffff33;
  --complemetar11: #ffff1a;
  --complemetar12: #ffff00;
  --complemetar13: #e6e600;
  --complemetar14: #cccc00;
  --complemetar15: #b3b300;
  --complemetar16: #999900;
  --complemetar17: #808000;
  --complemetar18: #666600;
  --complemetar19: #4d4d00;
  --complemetar20: #333300;
  --complemetar21: #1a1a00;
  --complemetar22: #000000;

  --dark1: #ffffff;
  --dark2: #f0f2f4;
  --dark3: #e2e6e9;
  --dark4: #d3d9de;
  --dark5: #c4ccd4;
  --dark6: #b6c0c9;
  --dark7: #a7b3be;
  --dark8: #98a6b3;
  --dark9: #8a9aa8;
  --dark10: #7b8d9d;
  --dark11: #6c8093;
  --dark12: #627384;
  --dark13: #576775;
  --dark14: #4c5a67;
  --dark15: #414d58;
  --dark16: #364049;
  --dark17: #2b333b;
  --dark18: #21262c;
  --dark19: #161a1d;
  --dark20: #0b0d0f;
  --dark21: #000000;
}
html {
  scroll-behavior: smooth;
}
/*GERAL CONTOMIZATION*/
* {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
body {
  margin: 0;
  color: var(--dark15);
}
/*HEADER CONTOMIZATION*/
header {
  /*background-color: var(--primary-Blue12);*/
  background: linear-gradient(
    10deg,
    var(--primary-Blue12) 0%,
    var(--primary-Blue11) 20%,
    var(--primary-Blue10) 40%,
    var(--primary-Blue8) 50%
  );
  /*background: linear-gradient(10deg,var(--primary-Blue8)0%,var(--primary-Blue12),var(--primary-Blue13),var(--primary-Blue8)80%);
  */
  min-height: 90px;
  z-index: 1;
  position: relative;
  box-shadow: 0 4px 10px 0px rgba(4, 108, 243, 0.171);
}
header .head1 {
  padding: 0 5%;
  color: var(--primary-Blue2);
}
header .head2 {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-Blue8);
  padding: 10px 5%;
}
header .head2 .head-logo-section {
  display: none;
}
header .head2 .head-logo-section .logo {
  color: #fff;
  font-weight: 500;
  background-color: var(--complemetar15);
  padding: 4px 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px #00000021;
}
header .head2 .head-menu-section nav {
}
header .head2 .head-menu-section nav a {
  color: var(--primary-Blue1);
  text-decoration: none;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  position: relative;
}
header .head2 .head-menu-section nav a .menu-chevron {
  color: var(--primary-Blue2);
}
header .head2 .head-menu-section nav a ul {
  background-color: var(--primary-Blue6);
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  overflow: hidden;
  height: 0;
  transition: all 0.3s;
  z-index: 2;
  border-radius: 3px;
  box-shadow: 0 3px 6px 0px rgba(4, 108, 243, 0.219);
}
header .head2 .head-menu-section nav a:hover {
  & ul {
    height: 70px;
  }
}
header .head2 .head-menu-section nav a ul li {
  list-style: none;
  box-sizing: border-box;
  font-size: 13px;
  padding: 0 5px;
  padding-top: 5px;
}
header .head3 {
  /*background-color: var(--primary-Blue7);*/
  display: flex;
  justify-content: flex-end;
  padding: 5px 5%;
  background: linear-gradient(
    10deg,
    var(--primary-Blue8) 0%,
    var(--primary-Blue8) 55%,
    var(--primary-Blue7) 60%
  );
}
header .head3 a {
  color: var(--primary-Blue1);
  text-decoration: none;
}
@media only screen and (min-width: 800px) {
  header .head2 .head-logo-section {
    display: initial;
  }
}
/*SECTION contacto COSTOM*/
.section-contacto {
  padding: 5% 10%;
}
.section-contacto-set {
  display: flex;
  flex-wrap: wrap;
}
.section-contacto .section-contacto-set .section-contacto-item {
  box-shadow: 0 3px 6px 0px rgba(59, 101, 155, 0.075);
  border-radius: 20px;
  padding: 4% 8%;
  border: 1px solid var(--dark2);
  margin-right: 20px;
  margin-bottom: 10px;
  width: 100%;
}
.section-contacto .section-contacto-set h3 {
  margin-top: 0;
}
.section-contacto .section-contacto-set .section-contacto-tel {
  border-left: 2px solid var(--primary-Blue10);
}
.section-contacto .section-contacto-set .section-contacto-email {
  border-right: 2px solid var(--primary-Blue10);
}
.section-contacto .section-contacto-set .section-contacto-redes {
  border-right: 2px solid var(--primary-Blue10);
}
.section-contacto
  .section-contacto-set
  .section-contacto-redes
  span
  .rede-icon {
  background-color: var(--dark2);
  height: 20px;
  width: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--primary-Blue5);
}
@media only screen and (min-width: 800px) {
  .section-contacto .section-contacto-set .section-contacto-item {
    padding: 2% 4%;
    width: fit-content;
  }
}
/*SECTION LUGAR FORM COSTOM*/
.section-form {
  padding: 5% 10%;
  background: linear-gradient(
    135deg,
    var(--primary-Blue3),
    var(--primary-Blue6)
  );
}
.section-form .section-form-content {
  background-color: var(--primary-Blue2);
  /*box-shadow: 0 3px 6px 0px rgba(59, 101, 155, 0.075);*/
  box-shadow: 0 3px 12px 0px rgba(4, 108, 243, 0.082);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 14px;
  justify-content: space-between;
}
.section-form .section-form-content .form-set {
  background-color: var(--primary-Blue1);
  padding: 20px;
  border-radius: 10px;
}
.section-form .section-form-content .form-set form {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
}
.section-form .section-form-content .form-set form .input {
  height: 30px;
  box-sizing: border-box;
  border: 1px solid var(--primary-Blue5);
  border-radius: 4px;
  margin-top: 15px;
  padding-left: 7px;
}
.section-form .section-form-content .form-set form .input:focus {
  outline: 3px solid var(--primary-Blue2);
}
.section-form .section-form-content .form-set form textarea {
  min-height: 80px;
  resize: none;
  border: 1px solid var(--primary-Blue5);
  border-radius: 4px;
  margin-top: 15px;
}
.section-form .section-form-content .form-set form textarea:focus {
  outline: 3px solid var(--primary-Blue2);
}
.section-form .section-form-content .form-set form .checkbox-termos {
  background-color: var(--primary-Blue2);
  display: flex;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 5px;
  border-radius: 3px;
  padding: 2px;
}
.section-form .section-form-content .form-set form button {
  background-color: var(--primary-Blue8);
  color: var(--primary-Blue1);
  border: none;
  border-radius: 4px;
  font-weight: 500;
  padding: 5px;
}
.section-form .small-form-info {
  width: auto;
  display: flex;
  font-size: 11px;
  color: var(--dark12);
  margin-top: 15px;
}
@media only screen and (min-width: 800px) {
  .section-form .section-form-content {
    flex-direction: row;
  }
  .section-form .section-form-content .form-set form {
    min-width: 320px;
  }
  .section-form .small-form-info {
    width: 320px;
  }
}
/*SECTION INFO LUCATION COSTOM

.section-info-location {
  padding: 0% 10%;
  font-weight: 300;
}
.section-info-location div {
  background-color: var(--dark1);
  display: flex;
  flex-direction: column;
  font-size: 13px;
  border-radius: 10px;
  padding: 20px;
}*/

/*SECTION LUGAR COSTOM*/
.section-Lugar {
  padding: 5% 10%;
}
.section-Lugar-content {
  background-color: var(--primary-Blue2);
  border-radius: 20px;
  padding: 5%;
}
.section-form .section-form-content .section-Lugar-content {
  flex: 1;
}
.section-Lugar-content .section-header h1 {
  color: var(--primary-Blue17);
}
.section-Lugar-content .section-header p {
  color: var(--primary-Blue10);
  text-transform: uppercase;
}
.section-Lugar-content .section-header a {
  background-color: var(--primary-Blue5);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
}
.section-Lugar-content iframe {
  border: 1px dashed var(--primary-Blue5);
  border-radius: 10px;
  width: 100%;
}
@media only screen and (min-width: 800px) {
  .section-Lugar-content iframe {
    width: 90%;
  }
}
/*FOOTER COSTOM*/
footer {
  margin-top: 100px;
  /*background-color: var(--primary-Blue18);*/
  background: linear-gradient(
    125deg,
    var(--primary-Blue18),
    var(--primary-Blue16),
    var(--primary-Blue18)
  );
}
footer a {
  text-decoration: none;
  color: var(--primary-Blue3);
}
footer div {
  color: var(--primary-Blue3);
  padding: 2% 10%;
  display: flex;
}
footer div ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 40px;
}
footer div ul li span {
  background-color: var(--primary-Blue15);
  height: 20px;
  width: 20px;
  display: inline-flex;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: var(--primary-Blue4);
}
footer div ul li input[type="email"] {
  border: 1px solid var(--primary-Blue16);
  border-radius: 5px;
  height: 35px;
  background-color: var(--primary-Blue18);
  color: var(--primary-Blue3);
  margin-top: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  box-shadow: 0 3px 6px 0px rgba(0, 32, 73, 0.178);
}
footer div ul li input[type="submit"] {
  border: none;
  background-color: var(--primary-Blue15);
  color: var(--primary-Blue3);
  font-weight: 500;
  padding: 8px 20px;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0px rgba(0, 32, 73, 0.178);
  content: "Inscrever";
  margin-top: 15px;
}
footer .footer-links-set {
  display: flex;
  flex-wrap: wrap;
}
