:root {
  --primary-Blue1: #ffffff;
  --primary-Blue2: #e6f5ff;
  --primary-Blue3: #ccebff;
  --primary-Blue4: #b3e2ff;
  --primary-Blue5: #9ad8fe;
  --primary-Blue6: #80cefe;
  --primary-Blue7: #67c4fe;
  --primary-Blue8: #4dbafe;
  --primary-Blue9: #34b1fe;
  --primary-Blue10: #1ba7fe;
  --primary-Blue11: #019dfe;
  --primary-Blue12: #018de4;
  --primary-Blue13: #017ecb;
  --primary-Blue14: #016eb2;
  --primary-Blue15: #016bac; /*GOLD*/
  --primary-Blue16: #015e98;
  --primary-Blue17: #014e7f;
  --primary-Blue18: #013f65;
  --primary-Blue19: #002f4c;
  --primary-Blue20: #001f33;
  --primary-Blue21: #001019;
  --primary-Blue22: #000000;

  --complemetar1: #ffffff;
  --complemetar2: #ffffff;
  --complemetar3: #ffffe6;
  --complemetar4: #ffffcc;
  --complemetar5: #ffffb3;
  --complemetar6: #ffff99;
  --complemetar7: #ffff80;
  --complemetar8: #ffff66;
  --complemetar9: #ffff4d;
  --complemetar10: #ffff33;
  --complemetar11: #ffff1a;
  --complemetar12: #ffff00;
  --complemetar13: #e6e600;
  --complemetar14: #cccc00;
  --complemetar15: #b3b300;
  --complemetar16: #999900;
  --complemetar17: #808000;
  --complemetar18: #666600;
  --complemetar19: #4d4d00;
  --complemetar20: #333300;
  --complemetar21: #1a1a00;
  --complemetar22: #000000;

  --dark1: #ffffff;
  --dark2: #f0f2f4;
  --dark3: #e2e6e9;
  --dark4: #d3d9de;
  --dark5: #c4ccd4;
  --dark6: #b6c0c9;
  --dark7: #a7b3be;
  --dark8: #98a6b3;
  --dark9: #8a9aa8;
  --dark10: #7b8d9d;
  --dark11: #6c8093;
  --dark12: #627384;
  --dark13: #576775;
  --dark14: #4c5a67;
  --dark15: #414d58;
  --dark16: #364049;
  --dark17: #2b333b;
  --dark18: #21262c;
  --dark19: #161a1d;
  --dark20: #0b0d0f;
  --dark21: #000000;
}
html {
  scroll-behavior: smooth;
}
/*GERAR CONTOMIZATION*/
h1,
h2,
h3,
h4,
h5,
h5,
b {
  font-family: poppins, ui-sans-serif, system-ui, sans-serif;
  line-height: normal;
}

* {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
body {
  margin: 0;
  color: var(--dark15);
}
.texto-oculto-para-mobile {
  display: none;
}
@media only screen and (min-width: 800px) {
  .texto-oculto-para-mobile {
    display: inline;
  }
}
/*HEADER CONTOMIZATION*/
header {
  /*background-color: var(--primary-Blue12);*/
  background: linear-gradient(
    10deg,
    var(--primary-Blue12) 0%,
    var(--primary-Blue11) 20%,
    var(--primary-Blue10) 40%,
    var(--primary-Blue8) 50%
  );
  z-index: 1;
  position: relative;
  box-shadow: 0 4px 10px 0px rgba(4, 108, 243, 0.171);
  width: 100%;
}
header .head1 {
  padding: 0 5%;
  color: var(--primary-Blue2);
}
header .head2 {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-Blue8);
  padding: 10px 5%;
}
header .head2 .head-logo-section {
  display: none;
}
header .head2 .head-logo-section .logo {
  color: #fff;
  font-weight: 500;
  background-color: var(--complemetar15);
  padding: 4px 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px #00000021;
}
header .head2 .head-menu-section {
  display: flex;
  justify-content: end;
  flex: 1;
}
header .head2 .head-menu-section nav {
  display: none;
}

header .head2 .head-menu-section nav.ativo {
  display: block;
}
@media only screen and (min-width: 800px) {
  header .head2 .head-menu-section nav {
    display: block;
  }
  header .head2 .head-menu-section nav.ativo {
    display: block;
  }
}
header .head2 .head-menu-section nav a {
  color: var(--primary-Blue1);
  text-decoration: none;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  position: relative;
}
header .head2 .head-menu-section nav a .menu-chevron {
  color: var(--primary-Blue2);
}
header .head2 .head-menu-section nav a ul {
  background-color: var(--primary-Blue6);
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  overflow: hidden;
  height: 0;
  transition: all 0.3s;
  z-index: 10;
  border-radius: 3px;
  box-shadow: 0 3px 6px 0px rgba(4, 108, 243, 0.219);
}
header .head2 .head-menu-section nav a:hover {
  & ul {
    height: 70px;
  }
}
header .head2 .head-menu-section nav a ul li {
  list-style: none;
  box-sizing: border-box;
  font-size: 13px;
  padding: 0 5px;
  padding-top: 5px;
}
header .head2 .head-menu-section .menu-icon {
  background-color: var(--primary-Blue7);
  display: flex;
  width: fit-content;
  height: fit-content;
  padding: 4px 8px;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0px rgba(4, 108, 243, 0.219);
}
header .head2 .head-menu-section .menu-icon svg {
  stroke: var(--primary-Blue2);
}
header .head2 .head-menu-section .menu-icon .menu-icon-svg.hidden {
  display: none;
}
@media only screen and (min-width: 800px) {
  header .head2 .head-menu-section .menu-icon {
    display: none;
  }
}
header .head3 {
  /*background-color: var(--primary-Blue7);*/
  display: flex;
  justify-content: flex-end;
  padding: 5px 5%;
  background: linear-gradient(
    10deg,
    var(--primary-Blue8) 0%,
    var(--primary-Blue8) 55%,
    var(--primary-Blue7) 60%
  );
}
header.visivel {
  position: fixed;
  top: 0;
}
header .head3 a {
  color: var(--primary-Blue1);
  text-decoration: none;
}
/*BANNER COSTOMIZATION*/

.section-banner {
  padding: 5% 10%;
  min-height: calc(100vh - 90px);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-banner .banner-content {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 81px;
}
.section-banner .banner-content .banner-txt-set {
}
.section-banner .banner-content .banner-txt-set small {
  color: var(--dark13);
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;

  transform: translateX(300px);
  opacity: 0;
  transition: all 1s;
}
.section-banner .banner-content .banner-txt-set small.ativo {
  transform: translateX(0px);
  opacity: 1;
}
.section-banner .banner-content .banner-txt-set h1 {
  color: var(--primary-Blue10);
  font-size: 2.6rem; /*OBS ATT Provavel bug no diplay header começou aqui tracar por 3rem*/
  margin-top: 10px;
  margin-bottom: 0px;

  transform: translateX(300px);
  opacity: 0;
  transition: all 1s;
}
.section-banner .banner-content .banner-txt-set h1.ativo {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.5s;
}
.section-banner .banner-content .banner-txt-set p {
  color: var(--dark12);
  font-size: 2.2rem;
  font-weight: 600;
  margin-top: 10px;

  transform: translateX(300px);
  opacity: 0;
  transition: all 1s;
}
.section-banner .banner-content .banner-txt-set p.ativo {
  transform: translateX(0px);
  opacity: 1;
  transition-delay: 1.5s;
}
.section-banner .banner-content .banner-txt-set a {
  text-decoration: none;
  border: 0.5px solid var(--primary-Blue4);
  padding: 3px 10px;
  border-radius: 8px;

  color: var(--primary-Blue15);
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 2;

  & span {
    color: var(--primary-Blue3);
    margin-left: 5px;
  }
}

.section-banner .banner-content .banner-img-set {
  height: 250px; /*OBS ATT Provavel bug no diplay header começou aqui tracar por 300px o width também*/
  width: 250px;
  border-radius: 50%;
  border: 1px solid var(--primary-Blue5);

  display: flex;
  justify-content: center;
  align-self: center;
  transform: translateY(-200px);
  opacity: 0.2;
  transition: all 0.5s;

  animation: moverVertical 3s infinite ease-out;
  animation-delay: 2s;
}
.section-banner .banner-content .banner-img-set.ativo {
  transform: translateY(0);
  opacity: 1;
}
.section-banner .banner-content .banner-img {
  height: 200px;
  width: 200px;
  border: 1px dashed var(--primary-Blue3);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-self: center;
}
.section-banner .banner-content .banner-img img {
  width: 240px;
  height: 240px;
  transform: translateY(-50px);
}

@keyframes moverVertical {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

@media only screen and (min-width: 800px) {
  header .head2 .head-logo-section {
    display: initial;
  }
  .section-banner .banner-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }

  .section-banner .banner-content .banner-txt-set h1 {
    font-size: 3rem;
  }
  .section-banner .banner-content .banner-img-set {
    height: 300px;
    width: 300px;
  }
  .section-banner .banner-content .banner-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
  .section-banner .banner-content .banner-img img {
    min-width: 290px;
    min-height: 290px;
  }
}

/*CARDS PARTS COSTOM*/
.banner-cards {
  color: var(--primary-Blue2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateY(0px);
}
.banner-cards .banner-each-card {
  border: 1px solid var(--primary-Blue7);
  margin: 10px 20px;
  padding: 10px 20px;
  width: 200px;
  border-radius: 10px;
  color: var(--primary-Blue1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  background: linear-gradient(
    125deg,
    var(--primary-Blue7),
    var(--primary-Blue6),
    var(--primary-Blue8)
  );
  box-shadow: 0 3px 6px 0px rgba(4, 108, 243, 0.219);
  transform: translateY(-100px);
  transition: all 0.5s;
  opacity: 0;
}
.banner-cards .banner-each-card.ativo {
  transform: translateY(0);
  opacity: 1;
}
@media only screen and (min-width: 800px) {
  .banner-cards {
    display: flex;
    flex-direction: row;
    transform: translateY(-90px);
  }
}
/*SECTION CONSULTORIA COSTOM*/
.section-consultoria {
  padding: 5% 10%;
}
.section-consultoria .section-consultoria-set div {
  box-shadow: 0 3px 6px 0px rgba(59, 101, 155, 0.075);
  border-radius: 20px;
  padding: 2% 4%;
  border: 1px solid var(--dark2);
  margin-bottom: 40px;
  scale: 0;
  transition: all 0.5s;
}
.section-consultoria .section-consultoria-set div.ativo {
  scale: 1;
}
.section-consultoria .section-consultoria-set div h3 {
  color: var(--dark12);
}
.section-consultoria .section-consultoria-set div span {
  font-size: 15px;
}
.section-consultoria .section-consultoria-set div ul {
  font-size: 14px;
  padding-left: 20px;
  font-weight: 300;
}
.section-consultoria .section-consultoria-set div ul li {
  list-style: decimal;
}
.section-consultoria .section-consultoria-set div ul li::marker {
  color: var(--primary-Blue13);
  font-weight: 500;
}
.section-consultoria
  .section-consultoria-set
  .section-consultoria-organizacional {
  border-left: 2px solid var(--primary-Blue10);
}
.section-consultoria .section-consultoria-set .section-consultoria-rh {
  border-right: 2px solid var(--primary-Blue10);
}
/*SECTION CTA COSTOM*/
.section-cta {
  height: 400px;
  margin: auto;
  box-sizing: border-box;

  background-image: url(../img/apertoDeMao.png);
  background-position: left;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  padding: 50px 5%;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid var(--dark2);
}
.section-cta-set {
  background-color: transparent;
  height: 300px;
  width: 100%;
  border-radius: 20px;
  border: 1px dashed var(--primary-Blue3);
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-cta-set * {
  color: #fff;
}
.section-cta-set a {
  text-decoration: none;
  border: 1px solid var(--complemetar1);
  padding: 5px 10px;
  border-radius: 7px;
  background-color: rgba(245, 245, 245, 0.178);
  font-weight: 500;
}

/*SECTION CTA2 COSTOM*/
/*SECTION CTA COSTOM*/
.section-cta2 {
  height: 400px;
  margin: auto;
  box-sizing: border-box;

  background-image: url(../img/discussao\ profissional.png);
  background-position: left;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: contain;
  margin: 5% 10%;
  border-radius: 20px;
  overflow: hidden;
  border: 1px dashed var(--dark2);
  display: flex;
  justify-content: end;
  align-items: center;
  border-bottom: 2px solid var(--complemetar15);
  box-shadow: 0 1px 3px 1px rgba(4, 108, 243, 0.034);
}
.section-cta-set2 {
  background-color: transparent;
  height: 320px;
  width: 50%;
  border-radius: 20px;
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 15px;
  background-color: #ffffff2a;
  padding: 5px;
  border: 1px solid #ffffff2f;

  transform: translateX(100%);
  transition: all 1s;
}
.section-cta-set2.ativo {
  transform: translateX(0);
  transition: all 1s;
}
.section-cta-set2 h1 {
  color: var(--complemetar14);
  font-size: 1.6rem;
  margin-top: 0;
}
.section-cta-set2 p {
  color: var(--dark10);
  margin-top: 0;
}
.section-cta-set2 a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 7px;
  background-color: var(--complemetar15);
  font-weight: 500;
  color: var(--complemetar1);
  box-shadow: 0px 2px 4px 0px #0000002c;
}
@media only screen and (min-width: 800px) {
  .section-cta-set2 h1 {
    color: var(--complemetar14);
    font-size: 2.2rem;
  }
}

/*SECTION RECRUTAMENTO COSTOM*/
.section-recrutamento {
  /*background-color: var(--primary-Blue10);*/
  background: linear-gradient(
    135deg,
    var(--primary-Blue10),
    var(--primary-Blue7)
  );

  display: flex;
  padding: 5% 10%;
  flex-wrap: wrap;
  overflow: hidden;
}
.section-recrutamento .section-recrutamento-descricao h1 {
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.5s;
}
.section-recrutamento .section-recrutamento-descricao h1.ativo {
  transition: all 0.5s;
  transform: translateY(0);
  opacity: 1;
}
.section-recrutamento .section-recrutamento-descricao span {
  /*color: var(--primary-Blue2);*/
}
.section-recrutamento .section-recrutamento-descricao .btn-ver-vagas {
  background-color: var(--primary-Blue17);
  border: none;
  border-radius: 5px;
  color: var(--primary-Blue3);
  padding: 10px 20px;
  font-weight: 400;
  font-size: 14px;
  display: block;
  margin-top: 20px;
}
.section-recrutamento .section-recrutamento-descricao .btn-ver-vagas.ativo {
  animation: vibrarHorizontal 1s;
  transition: all 0.5s;
}
.section-recrutamento .section-recrutamento-metodologia {
  display: flex;
  flex-direction: column;
  & span {
    color: var(--primary-Blue1);
    font-weight: 500;
  }
}
.section-recrutamento .section-recrutamento-metodologia .metodo1 {
  transform: translateX(200px);
  opacity: 0;
  transition: all 0.5s;
}
.section-recrutamento .section-recrutamento-metodologia .metodo1.ativo {
  transform: translateX(0);
  opacity: 1;
  transition: all 0.5s;
}

.section-recrutamento .section-recrutamento-metodologia .metodo2 {
  transform: translateX(-200px);
  opacity: 0;
  transition: all 0.5s;
}
.section-recrutamento .section-recrutamento-metodologia .metodo2.ativo {
  transform: translateX(0);
  opacity: 1;
  transition: all 0.5s;
}

.section-recrutamento .section-recrutamento-metodologia .metodo3 {
  transform: translateX(200px);
  opacity: 0;
  transition: all 0.5s;
}
.section-recrutamento .section-recrutamento-metodologia .metodo3.ativo {
  transform: translateX(0);
  opacity: 1;
  transition: all 0.5s;
}

@keyframes vibrarHorizontal {
  0% {
    transform: translateX(10px);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
/*SECTION PARCEIROS COSTOM*/
.header-parceiros {
  padding: 5% 5% 0;
  text-align: center;
}
.section-parceiros {
  padding: 5% 10%;
  background-color: #f0f2f463;
  background-color: var(--dark1);
  overflow: hidden;
}
.section-parceiros .section-parceiros-set {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}
.section-parceiros .section-parceiros-set .each-parceiro {
  height: 40px;
  margin: 0px 10px;
}
.section-parceiros .section-parceiros-set .each-parceiro img {
  filter: grayscale(100);
  max-height: 100%;
  opacity: 0.3;
}
/*SECTION FORMAÇÃO COSTOM*/
.section-Formacao {
  padding: 5% 10%;
  /*background-color: var(--primary-Blue5);*/
  background: linear-gradient(
    135deg,
    var(--primary-Blue5),
    var(--primary-Blue7)
  );
}
.section-Formacao-content {
  background-color: var(--primary-Blue5);
  border-radius: 20px;
  padding: 5%;
  box-shadow: 0 3px 12px 0px rgba(4, 108, 243, 0.082);
}
.section-Formacao-content .section-header h1 {
  color: var(--primary-Blue17);
}
.section-Formacao-content .section-header p {
  color: var(--primary-Blue2);
  font-size: 20px;
}
.section-Formacao-content .section-header a {
  background-color: var(--primary-Blue1);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: var(--dark12);
  font-weight: 500;
  display: inline-block;
}
/*SECTION CURSOS CARDS COSTOM*/
.section-cursos-Cards {
  padding: 0% 10%;
  padding-top: 5%;
}
.section-cursos-Cards .section-cursos-Cards-filter {
  display: flex;
  justify-content: center;
}
.section-cursos-Cards .section-cursos-Cards-filter div {
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 20px;
  display: flex;
  cursor: pointer;
}
.section-cursos-Cards .section-cursos-Cards-filter div small {
  padding: 5px 15px;
  margin: 0px 2px;
  font-weight: 500;
  box-sizing: border-box;
  border-bottom: 2px solid var(--primary-Blue1);
}
.section-cursos-Cards .section-cursos-Cards-filter div small.selected {
  border-bottom: 1px solid var(--primary-Blue4);
  color: var(--primary-Blue11);
  box-sizing: border-box;
}
.section-cursos-Cards .section-cursos-Cards-content {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  border-bottom: 1px solid var(--primary-Blue3);
  border-radius: 10px;
}
.section-cursos-Cards .section-cursos-Cards-content .each-cursos-Cards {
  box-shadow: 0 3px 6px 0px rgba(59, 101, 155, 0.075);
  padding: 15px;
  width: 265px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  margin-bottom: 40px;
  scale: 1;
  opacity: 1;
  transition: all 0.2s;
}
.section-cursos-Cards
  .section-cursos-Cards-content
  .each-cursos-Cards.invisivel {
  scale: 0;
  opacity: 0.9;
  overflow: hidden;
  transition: all 0.5s;
  /*ATTT OBS : Fazer desaparecer corretamente sem usar whidth,padding,margin:remover tudo abaixo*/
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}
.section-cursos-Cards
  .section-cursos-Cards-content
  .each-cursos-Cards
  .cursos-Cards-modalidade {
  display: flex;
}
.section-cursos-Cards
  .section-cursos-Cards-content
  .each-cursos-Cards
  .cursos-Cards-modalidade
  small {
  background-color: var(--primary-Blue10);
  padding: 5px;
  color: white;
  border-radius: 7px;
  font-weight: 500;
  box-shadow: 0 3px 6px 0px rgba(4, 108, 243, 0.219);
}
.section-cursos-Cards
  .section-cursos-Cards-content
  .each-cursos-Cards
  .cursos-Cards-icon {
  background-color: var(--primary-Blue2);
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  align-self: center;
  border: 4px solid #f6fbff;
}
.section-cursos-Cards
  .section-cursos-Cards-content
  .each-cursos-Cards
  .cursos-Cards-icon
  svg {
  stroke: var(--primary-Blue5);
  stroke-width: 1.5px;
}
.section-cursos-Cards
  .section-cursos-Cards-content
  .each-cursos-Cards
  .cursos-Cards-descricao {
  /*background-color: #f0f2f463;*/
  background-color: #f0f2f410;
  border: 1px solid #f0f2f4c4;
  border-radius: 6px;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-bottom: 7px;
}
.section-cursos-Cards
  .section-cursos-Cards-content
  .each-cursos-Cards
  .cursos-Cards-descricao
  small {
  font-size: 12px;
  margin-top: 10px;
  display: flex;
}
.section-cursos-Cards
  .section-cursos-Cards-content
  .each-cursos-Cards
  .cursos-Cards-descricao
  span {
  /*
  background-color: rgb(142, 202, 142);
  border: 1px solid rgb(152, 218, 152);
  color:#fff;
  */
  display: flex;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  border: 1px solid rgb(108, 204, 108);
  color: rgb(2, 238, 2);
  margin-right: 4px;
}
.section-cursos-Cards
  .section-cursos-Cards-content
  .each-cursos-Cards
  .cursos-Cards-footer {
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  color: whitesmoke;
}
.section-cursos-Cards
  .section-cursos-Cards-content
  .each-cursos-Cards
  .cursos-Cards-footer
  a {
  color: var(--primary-Blue10);
  font-weight: 400;
  text-decoration: none;
}

/*MODAL COSTOM*/
.modal {
  position: fixed;
  background-color: #42598394;
  display: inline-flex;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 20;
  align-items: center;
  justify-content: center;
}
.modal.hidden {
  display: none;
}
.modal .modal-set {
  background: linear-gradient(
    45deg,
    var(--primary-Blue12),
    var(--primary-Blue10),
    var(--primary-Blue13)
  );
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 90%;
  padding: 20px 40px;
  color: var(--primary-Blue1);
  border-radius: 20px;
}
.modal .modal-set .modal-sobre-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal .modal-set .modal-sobre-head .close-modal {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.modal .modal-set .modal-sobre-body {
  overflow: auto;
}

/*FIXED BUTONS COSTOM*/
.btn-sets {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.btn-sets .btn-topo {
  background-color: var(--primary-Blue10);
  color: whitesmoke;
  height: 40px;
  width: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  transition: all 0.2s;
  scale: 0;
  opacity: 0;
}
.btn-sets .btn-topo.visivel {
  transition: all 0.3s;
  scale: 1;
  opacity: 1;
}
.btn-sets .btn-topo.opaco {
  background-color: var(--primary-Blue17);
  opacity: 0.8;
  box-shadow: 0 3px 6px 0px rgba(0, 32, 73, 0.178);
  transform: translateY(-90px);
}
/*FOOTER COSTOM*/
footer {
  margin-top: 100px;
  padding-top: 40px;
  /*background-color: var(--primary-Blue18);*/
  background: linear-gradient(
    125deg,
    var(--primary-Blue18),
    var(--primary-Blue16),
    var(--primary-Blue18)
  );
}
footer a {
  text-decoration: none;
  color: var(--primary-Blue3);
}
footer div {
  color: var(--primary-Blue3);
  padding: 2% 10%;
  display: flex;
}
footer div ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 40px;
  margin-top: 20px;
}
footer div ul li span {
  background-color: var(--primary-Blue15);
  height: 20px;
  width: 20px;
  display: inline-flex;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: var(--primary-Blue4);
}
footer div ul li input[type="email"] {
  border: 1px solid var(--primary-Blue16);
  border-radius: 5px;
  height: 35px;
  background-color: var(--primary-Blue18);
  color: var(--primary-Blue3);
  margin-top: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  box-shadow: 0 3px 6px 0px rgba(0, 32, 73, 0.178);
}
footer div ul li input[type="submit"] {
  border: none;
  background-color: var(--primary-Blue15);
  color: var(--primary-Blue3);
  font-weight: 500;
  padding: 8px 20px;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0px rgba(0, 32, 73, 0.178);
  content: "Inscrever";
  margin-top: 15px;
}
footer .footer-links-set {
  display: flex;
  flex-wrap: wrap;
}
