:root {
  --primary-Blue1: #ffffff;
  --primary-Blue2: #e6f5ff;
  --primary-Blue3: #ccebff;
  --primary-Blue4: #b3e2ff;
  --primary-Blue5: #9ad8fe;
  --primary-Blue6: #80cefe;
  --primary-Blue7: #67c4fe;
  --primary-Blue8: #4dbafe;
  --primary-Blue9: #34b1fe;
  --primary-Blue10: #1ba7fe;
  --primary-Blue11: #019dfe;
  --primary-Blue12: #018de4;
  --primary-Blue13: #017ecb;
  --primary-Blue14: #016eb2;
  --primary-Blue15: #016bac; /*GOLD*/
  --primary-Blue16: #015e98;
  --primary-Blue17: #014e7f;
  --primary-Blue18: #013f65;
  --primary-Blue19: #002f4c;
  --primary-Blue20: #001f33;
  --primary-Blue21: #001019;
  --primary-Blue22: #000000;

  --complemetar1: #ffffff;
  --complemetar2: #ffffff;
  --complemetar3: #ffffe6;
  --complemetar4: #ffffcc;
  --complemetar5: #ffffb3;
  --complemetar6: #ffff99;
  --complemetar7: #ffff80;
  --complemetar8: #ffff66;
  --complemetar9: #ffff4d;
  --complemetar10: #ffff33;
  --complemetar11: #ffff1a;
  --complemetar12: #ffff00;
  --complemetar13: #e6e600;
  --complemetar14: #cccc00;
  --complemetar15: #b3b300;
  --complemetar16: #999900;
  --complemetar17: #808000;
  --complemetar18: #666600;
  --complemetar19: #4d4d00;
  --complemetar20: #333300;
  --complemetar21: #1a1a00;
  --complemetar22: #000000;

  --dark1: #ffffff;
  --dark2: #f0f2f4;
  --dark3: #e2e6e9;
  --dark4: #d3d9de;
  --dark5: #c4ccd4;
  --dark6: #b6c0c9;
  --dark7: #a7b3be;
  --dark8: #98a6b3;
  --dark9: #8a9aa8;
  --dark10: #7b8d9d;
  --dark11: #6c8093;
  --dark12: #627384;
  --dark13: #576775;
  --dark14: #4c5a67;
  --dark15: #414d58;
  --dark16: #364049;
  --dark17: #2b333b;
  --dark18: #21262c;
  --dark19: #161a1d;
  --dark20: #0b0d0f;
  --dark21: #000000;
}
html {
  scroll-behavior: smooth;
}
/*GERAR CONTOMIZATION*/
* {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
body {
  margin: 0;
  color: var(--dark15);
}
/*HEADER CONTOMIZATION*/
header {
  /*background-color: var(--primary-Blue12);*/
  background: linear-gradient(
    10deg,
    var(--primary-Blue12) 0%,
    var(--primary-Blue11) 20%,
    var(--primary-Blue10) 40%,
    var(--primary-Blue8) 50%
  );
  /*background: linear-gradient(10deg,var(--primary-Blue8)0%,var(--primary-Blue12),var(--primary-Blue13),var(--primary-Blue8)80%);
  */
  min-height: 90px;
  z-index: 1;
  position: relative;
  box-shadow: 0 4px 10px 0px rgba(4, 108, 243, 0.171);
}
header .head1 {
  padding: 0 5%;
  color: var(--primary-Blue2);
}
header .head2 {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-Blue8);
  padding: 10px 5%;
}
header .head2 .head-logo-section {
  display: none;
}
header .head2 .head-logo-section .logo {
  color: #fff;
  font-weight: 500;
  background-color: var(--complemetar15);
  padding: 4px 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px #00000021;
}
header .head2 .head-menu-section nav {
}
header .head2 .head-menu-section nav a {
  color: var(--primary-Blue1);
  text-decoration: none;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  position: relative;
}
header .head2 .head-menu-section nav a .menu-chevron {
  color: var(--primary-Blue2);
}
header .head2 .head-menu-section nav a ul {
  background-color: var(--primary-Blue6);
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  overflow: hidden;
  height: 0;
  transition: all 0.3s;
}
header .head2 .head-menu-section nav a:hover {
  & ul {
    height: 70px;
  }
}
header .head2 .head-menu-section nav a ul li {
  list-style: none;
}
header .head3 {
  /*background-color: var(--primary-Blue7);*/
  display: flex;
  justify-content: flex-end;
  padding: 5px 5%;
  background: linear-gradient(
    10deg,
    var(--primary-Blue8) 0%,
    var(--primary-Blue8) 55%,
    var(--primary-Blue7) 60%
  );
}
header .head3 a {
  color: var(--primary-Blue1);
  text-decoration: none;
}
main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
@media only screen and (min-width: 800px) {
  header .head2 .head-logo-section {
    display: initial;
  }
  main {
    flex-direction: row;
  }
}
/*SECTION LEFT COSTOM*/
.section-left {
  height: fit-content;
  padding: 10px;
  border: 1px solid var(--primary-Blue7);
  box-sizing: border-box;
  margin-right: 10px;
  border-radius: 7px;
  margin: 7px;
  display: flex;
  flex-direction: column;
}
.section-left .user-welcome {
  color: var(--primary-Blue8);
  text-align: center;
  margin: 15px 0px;
  font-size: 20px;
}
.section-left .menu-iten {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: var(--primary-Blue5);
  padding-bottom: 10px;
}
.section-left .menu-iten span {
  color: var(--primary-Blue1);
  font-weight: 500;
  padding: 2px;
  border-radius: 5px;
  padding-left: 30px;
  font-weight: 400;
}
.section-left .menu-iten span i {
  font-size: 11px;
}
.section-left .menu-iten span:first-child {
  font-weight: 500;
  padding-left: 10px;
  background-color: var(--primary-Blue8);
  text-transform: uppercase;
  font-size: 14px;
}

@media only screen and (min-width: 800px) {
  .section-left {
    width: 200px;
    height: calc(100vh - 104px);
  }
}

/*SECTION RIGTH COSTOM*/
.section-rigth {
  background-color: var(--primary-Blue1);
  width: 100%;
  height: calc(100vh - 130px);
  border-radius: 20px;
  margin: 0;
  margin-top: 5%;
  object-fit: cover;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 1px 4px 0px rgba(4, 108, 243, 0.158);
}
.section-rigth .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-Blue10);
  box-sizing: border-box;
  object-fit: cover;
  height: 100%;
}
.section-rigth .tab-cursos {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  object-fit: cover;
  height: 100%;
  flex-direction: column;
  overflow: auto;
}
.section-rigth .tab-cursos h1 {
  color: var(--primary-Blue10);
}
.section-rigth .tab-cursos section {
  height: 90%;
}

@media only screen and (min-width: 800px) {
  .section-rigth {
    margin: 20px;
    width: calc(100vw - 300px);
    height: calc(100vh - 130px);
  }
}
/*ESPECIAL CURSOS COSTOM*/
/*ESPECIAL CURSOS COSTOM*/
/*ESPECIAL CURSOS COSTOM*/
/*ESPECIAL CURSOS COSTOM*/

/*SECTION CURSOS CARDS COSTOM*/
.section-cursos-Cards {
  padding: 0;
}
.section-cursos-Cards .section-cursos-Cards-filter {
  display: flex;
  justify-content: center;
}
.section-cursos-Cards .section-cursos-Cards-filter div {
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 20px;
  display: flex;
  cursor: pointer;
}
.section-cursos-Cards .section-cursos-Cards-filter div small {
  padding: 5px 15px;
  margin: 0px 2px;
  font-weight: 500;
  box-sizing: border-box;
  border-bottom: 2px solid var(--primary-Blue1);
}
.section-cursos-Cards .section-cursos-Cards-filter div small.selected {
  border-bottom: 1px solid var(--primary-Blue4);
  color: var(--primary-Blue11);
  box-sizing: border-box;
}
.section-cursos-Cards .section-cursos-Cards-content {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  padding-bottom: 5%;
  border-radius: 20px;
}
.section-cursos-Cards .section-cursos-Cards-content .each-cursos-Cards {
  box-shadow: 0 3px 6px 0px rgba(59, 101, 155, 0.075);
  padding: 15px;
  width: 265px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  margin-bottom: 40px;
  scale: 1;
  opacity: 1;
  transition: all 0.2s;
}
.section-cursos-Cards
  .section-cursos-Cards-content
  .each-cursos-Cards.invisivel {
  scale: 0;
  opacity: 0.9;
  overflow: hidden;
  transition: all 0.5s;
  /*ATTT OBS : Fazer desaparecer corretamente sem usar whidth,padding,margin:remover tudo abaixo*/
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}
.section-cursos-Cards
  .section-cursos-Cards-content
  .each-cursos-Cards
  .cursos-Cards-modalidade {
  display: flex;
}
.section-cursos-Cards
  .section-cursos-Cards-content
  .each-cursos-Cards
  .cursos-Cards-modalidade
  small {
  background-color: var(--primary-Blue10);
  padding: 5px;
  color: white;
  border-radius: 7px;
  font-weight: 500;
  box-shadow: 0 3px 6px 0px rgba(4, 108, 243, 0.219);
}
.section-cursos-Cards
  .section-cursos-Cards-content
  .each-cursos-Cards
  .cursos-Cards-icon {
  background-color: var(--primary-Blue2);
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  align-self: center;
  border: 4px solid #f6fbff;
}
.section-cursos-Cards
  .section-cursos-Cards-content
  .each-cursos-Cards
  .cursos-Cards-icon
  svg {
  stroke: var(--primary-Blue5);
  stroke-width: 1.5px;
}
.section-cursos-Cards
  .section-cursos-Cards-content
  .each-cursos-Cards
  .cursos-Cards-descricao {
  /*background-color: #f0f2f463;*/
  background-color: #f0f2f410;
  border: 1px solid #f0f2f4c4;
  border-radius: 6px;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-bottom: 7px;
}
.section-cursos-Cards
  .section-cursos-Cards-content
  .each-cursos-Cards
  .cursos-Cards-descricao
  small {
  font-size: 12px;
  margin-top: 10px;
  display: flex;
}
.section-cursos-Cards
  .section-cursos-Cards-content
  .each-cursos-Cards
  .cursos-Cards-descricao
  span {
  background-color: rgb(142, 202, 142);
  display: flex;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  border: 2px solid rgb(184, 223, 184);
  color: #fff;
  margin-right: 4px;
}
.section-cursos-Cards
  .section-cursos-Cards-content
  .each-cursos-Cards
  .cursos-Cards-footer {
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  color: whitesmoke;
}
.section-cursos-Cards
  .section-cursos-Cards-content
  .each-cursos-Cards
  .cursos-Cards-footer
  a {
  color: var(--primary-Blue10);
  font-weight: 400;
  text-decoration: none;
}

@media only screen and (min-width: 800px) {
  .section-cursos-Cards {
    padding: 0% 10%;
  }
}

/*FOOTER COSTOM*/
footer {
  margin-top: 100px;
  /*background-color: var(--primary-Blue18);*/
  background: linear-gradient(
    125deg,
    var(--primary-Blue18),
    var(--primary-Blue16),
    var(--primary-Blue18)
  );
}
footer a {
  text-decoration: none;
  color: var(--primary-Blue3);
}
footer div {
  color: var(--primary-Blue3);
  padding: 2% 10%;
  display: flex;
}
footer div ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 40px;
}
footer div ul li span {
  background-color: var(--primary-Blue15);
  height: 20px;
  width: 20px;
  display: inline-flex;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: var(--primary-Blue4);
}
footer div ul li input[type="email"] {
  border: 1px solid var(--primary-Blue16);
  border-radius: 5px;
  height: 35px;
  background-color: var(--primary-Blue18);
  color: var(--primary-Blue3);
  margin-top: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  box-shadow: 0 3px 6px 0px rgba(0, 32, 73, 0.178);
}
footer div ul li input[type="submit"] {
  border: none;
  background-color: var(--primary-Blue15);
  color: var(--primary-Blue3);
  font-weight: 500;
  padding: 8px 20px;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0px rgba(0, 32, 73, 0.178);
  content: "Inscrever";
  margin-top: 15px;
}
footer .footer-links-set {
  display: flex;
  flex-wrap: wrap;
}
